<div class="container">
  <div class="header">
    <h1>Create new list</h1>
    <%= link_to "Cancel", lists_path(), class: "btn-sec" %>
  </div>

  <div class="form-content">
    <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn" %>
  <% end %>
  </div>

</div>
