<div class="container">
  <div class="header">
    <h1>List: <%= @list.name %></h1>
    <%= link_to "New bookmark", new_list_bookmark_path(@list), class: "btn" %>
  </div>

  <div class="main-content">
    <% if  @list.photo.key.present? %>
      <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>

    <p><strong>Movie - bookmark comment</strong></p>
    <% @bookmarks.each do |bookmark| %>
      <p>
        <%= bookmark.movie.title %> - <%= bookmark.comment %> - <%= link_to "Delete",
        list_path(@list),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      </p>
    <% end %>

  </div>
  
  <%= link_to "Back to lists", lists_path() %>

</div>
